<section class="pie_pagina">
    <footer class="rodapePrincipal">
        <img class="video" src="../../../assets/img/rio.png" alt="img-cascada">
      <img (click)="openWhatsApp()" matTooltip="Enviar whatsapp al pastor" class="pointer" class="logo-footer" src="../../../assets/img/click-cont.png" alt="Img logo"> 
    </footer>
</section>
<footer class="negro">
    <div id="site-cnt" class="centralist">
      <a class="title"> Iglesia Bautista Reformada De Tunja | Gracia Sobre Gracia © 2024 </a>
    </div>
</footer>